<HTML>
    <head>
        <meta charset=utf-8>
        <style>
        @media ( max-width: 300px ) {
            body { color: red; }
        }
        </style>
    </head>
    <body>
        <form id="enroll_form" action='/users/register_kakao' method='post'>
            <p>Pet Plant 앱에서 사용중인 e-mail를 적어주세요!</p><br><br>
            <input type="text" name="petplantID" maxlength="50"><br>
            <p>카카오톡 플러스 친구에서 제공된 USER ID를 적어주세요.</p><br><br>
            <input type="text" name="kakaoID" maxlength="50"><br>
            <input type='submit' value='등록하기'>
        </form>
    </body>
</HTML>